<div id="movies"><p class="tbus">Service control movies </p>
  <div class="container">
    <div class="row"><%= form_for manager_panel_path, method: :get, id: "movies_search" do %>
          <div class="col-md-5" style="padding-top: 8px">
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for..." %>
              <span class="input-group-btn">
                  <%= button_tag "Search", class: "btn btn-default" %>
                </span>
            </div>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="well" style="height: 100%">
          <table class="table">
            <thead class="thead-inverse">
            <tr>
              <th></th>
              <th>Name</th>
              <th>Release Date</th>
              <th>Running Time</th>
              <th>Rating</th>
              <th>Movie path</th>
              <th>Trailer path</th>
              <th>Ebay link</th>
              <th>Delete</th>

            </tr>
            </thead>

            <tbody>
            <tr>
              <% @user_movies_list.each do |m| %>
                  <td><%= image_tag(m.img, size: '150x200') %></td>
                  <td style="max-width: 200px"><%= best_in_place m, :title, as: :input %></td>
                  <td><%= best_in_place m, :date_relist, as: :input %></td>
                  <td style="overflow: hidden;max-width: 30px"><%= best_in_place m, :runtime, as: :input %></td>
                  <td style="overflow: hidden;max-width: 30px"><%= best_in_place m, :rating, as: :input %></td>
                  <td style="overflow: hidden;max-width: 150px"><%= best_in_place m, :movie_path, as: :input %></td>
                  <td style="overflow: hidden;max-width: 150px"><%= best_in_place m, raw(:trailer), as: :input %></td>
                  <td style="overflow: hidden;width: 150px;display: block;">
                    <%= best_in_place m, raw(:ebay_link), as: :input %></td>
                  <td><%= link_to('X', {controller: "movies", action: "destroy", id: m.id}, method: :delete, remote: true, class: "btn btn-xs knop btn-danger", data: {confirm: 'Are you sure?'}) %>
                  </td>
                  </tr>
                  </tbody>
              <% end %>
              </table>

        </div>
      </div>
    </div>
  </div>
</div>

