<div id="manage_user">
  <div style="height: 800px" class="well">
    <div class="col-md-12  col-sm-12">
      <div style="padding: 10px"><%= link_to('Add new user', '#3', :class => "btn  add_usr btn-success") %> </div>
      <p class="tbus">Service control users </p>
      <table align="center" class="table  table-striped ">
        <thead>
        <tr class="success">
          <th style="text-align: center">id</th>
          <th style="text-align: center">Name</th>
          <th style="text-align: center">Email</th>
          <th style="text-align: center">Role</th>
          <th style="text-align: center">Data created account</th>
          <th style="text-align: center">Movies</th>
          <th style="text-align: center">Action</th>
          <th style="text-align: center"> Servise</th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |u| %>
            <tr>
              <td style="text-align: center"><%= u.id %></td>
              <td style="text-align: center"><%= u.name %></td>
              <td style="text-align: center"><%= u.email %></td>
              <td style="text-align: center"><%= u.role %></td>
              <td style="text-align: center"><%= u.created_at.strftime("%F") %></td>
              <td style="text-align: center"><%= u.movies.count %></td>
              <td>
                <%= button_tag('Watch list',
                               class: "btn btn-xs knop  btn-info", data: {toggle: 'modal', target: ".bs-example-modal-lg-#{u.id}"}) %>
                <div class="modal fade bs-example-modal-lg-<%= u.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="row">

                        <div class="col-md-12 col-sm-10">
                          <div style="height: 92%" class="well">
                            <table class="table">
                              <thead class="thead-inverse">
                              <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Genre</th>
                                <th>Release Date</th>
                                <th>Running Time</th>
                                <th>Rating</th>
                                <th>Watched status</th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr>
                                <% u.movies.each do |m| %>
                                    <td><%= image_tag(m.img, size: '150x200') %></td>
                                    <td><%= m.title %></td>
                                    <td><%= m.genre %></td>
                                    <td><%= m.date_relist %></td>
                                    <td><%= m.runtime %></td>
                                    <td><%= m.rating %></td>
                                    <td>status</td>
                                    </tr>
                                    </tbody>
                                <% end %>
                                </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <button class="btn btn-xs knop btn-primary" type="button" data-toggle="collapse" data-target="#collapse-<%= u.id %>" aria-expanded="false" aria-controls="collapse-<%= u.id %>">
                  Add Movie
                </button>
                <div class="collapse" id="collapse-<%= u.id %>">
                  <div class="card card-block">
                    <%= form_tag(new_movies_to_user_path, action: 'create', method: :post) do %>
                        <%= select_tag "Movies", options_from_collection_for_select(@movies_list, "id", "title") %>
                        <input type="hidden" id="id" name="id" value="<%= u.id %>">
                        <%= submit_tag("Add movie to User #{u.email}") %>
                    <% end %>
                  </div>
                </div>
              </td>
              <td>
                <% if u.role == 'ban' %>
                    <%= link_to('Unban user', {controller: "users", action: "unban", id: u.id}, method: :put,
                                class: "btn btn-xs knop btn-danger active", data: {confirm: "Are you sure want Unban this user", toggle: 'button'}) %>
                <% else %>
                    <%= link_to('Ban user', {controller: "users", action: "ban", id: u.id}, method: :put,
                                class: "btn btn-xs knop btn-warning", data: {confirm: "Are you sure want Ban this user"}) %>
                <% end %>
                <%= link_to('Remove', {controller: "users", action: "destroy", id: u.id}, method: :delete, class: "btn btn-xs knop btn-danger", data: {confirm: 'Are you sure?'}) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>




    <%= paginate @users, :theme => 'twitter-bootstrap-3', remote: true %>

  </div>
</div>
