  <% @movies.each do |m| %>

      <div class="card">
        <div class="card__container card__container--closed">
          <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200" preserveAspectRatio="xMidYMid slice">
            <defs>
              <clipPath id="clipPath<%=m.id%>">
                <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
              </clipPath>
            </defs>
            <image clip-path="url(#clipPath<%=m.id%>)" width="1920" height="1200" xlink:href="<%= m.img %>"></image>
          </svg>
          <div class="card__content">
            <i class="card__btn-close fa fa-times"></i>
            <div class="card__caption">
              <h2 class="card__title"><%= m.title %></h2>
              <p class="card__subtitle">Genre - <%= m.genre.split(', ').join(', ').gsub(/\W/, ' ').strip.upcase %></p>
            </div>
            <div class="card__copy">
              <div class="meta">
                <img class="meta__avatar" src="<%= m.img %>" alt="author01" />
                <img class="krug"/>
                <div class="description">
                  <span class="meta__author">Running Time - <%= m.runtime %></span><br>
                  <span class="meta__date">Release Date - <%= m.date_relist %></span>
                </div>
              </div>
              <div class="text" style="text-align: center">
                <p>
                  <%= raw(m.trailer) %>
                  <%= link_to(image_tag('img/Buy-from-ebay.png'), raw(m.ebay_link)) if m.ebay_link.present? %>
                  <br>
                  <br>
                  <%= m.desc %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>






