<div class="container">
  <h1>Movies</h1>
  <div class="content">
    <div class="wrapper">
      <div id="movies"> <%= render partial: 'movies' %></div>
    </div>
    <div style="margin: auto; display: table;"><%= paginate @movies, :theme => 'twitter-bootstrap-3'  %></div>
  </div>
</div>

