<h1>Manager Panel</h1>
  <div class="container" align="center">

<div id="exTab2" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a  href="#1" data-toggle="tab">Users Control Tab</a>
    </li>
    <li><a href="#2" data-toggle="tab">Movies Control Tab</a>
    </li>
    <li><a href="#3" data-toggle="tab">User Form</a>
    </li>
    <li><a href="#4" data-toggle="tab">Start Parsing</a>
    </li>
  </ul>

  <div class="tab-content ">
    <div class="tab-pane <%= @tab == 'user' ? '' : 'active' %>" id="1">
      <%= render partial: "movies/manager_users", remote: true  %>
    </div>
    <div class="tab-pane <%= @tab == 'movie' ? 'active' : '' %>"  id="2">
      <%= render partial: "movies/manager_movies", remote: true  %>
      <div align="center" style="padding-bottom: 30px;">
        <%= paginate @user_movies_list, :theme => 'twitter-bootstrap-3' %>
      </div>
    </div>
    <div class="tab-pane" id="3">
      <%= render partial: "users/form", remote: true %>
    </div>
    <div class="tab-pane" id="4">
     <%= link_to 'Start parsing Ccontent',  start_parsing_path %>
    </div>
  </div>
</div>
</div>

