$("#well").html("<%= escape_javascript(render("users/form")) %>");
$("#movies").html("<%= escape_javascript(render("movies/manager_movies")) %>");
$("#manage_user").html("<%= escape_javascript(render("movies/manager_users")) %>");
