<h1>Your Movies</h1>

<div class="container" , style="margin-bottom: 40px;">
  <% @movies.each do |m| %>
      <div class="container-fluid col-sm-4 col-md-3 ">
        <div class="well" style="width: 265px;" align="center">
          <p class="mouvi_title" align="center"><%= m.title %></p>
          <div class="cnt">
            <div class="gr_img">
              <%= image_tag(m.img, size: '200x300') %>
            </div>
            <br>
            <p class="genre">Genre : <%= m.genre.to_s.gsub(/"/, '').gsub(/\[/, '').gsub(/]/, '') %></p>

            <p class="genre" align="left">Rating : <%= m.rating %></p>
            <p class="genre" align="rigth">Runtime : <%= m.runtime %>  </p>
            <div class="buttons">
              <button type="button" style="margin-right: 8px;" class=" btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg-<%= m.id %>">View
                movie
              </button>
              <button type="button" class=" btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg-trailer-<%= m.id %>">View
                trailer
              </button>
            </div>
          </div>
        </div>

        <div class="modal  fade bs-example-modal-lg-trailer-<%= m.id %>" id="mod_w" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content ">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel" align="center">
                  <%= m.title %>
                </h4>
                <div class="video_con" align="center" width="560"><%= raw(m.trailer) %></div>
              </div>
            </div>
          </div>
        </div>


        <div class="modal  fade bs-example-modal-lg-<%= m.id %>" id="mod_w" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content ">
              <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel" align="center">
                  <%= m.title %>
                </h4>
                <div class="video_con" align="center" width="560">
                  <% unless m.movie_path == nil %>
                      <%= render_video_for_vjs sources: { 'video/mp4': "#{m.movie_path}.mp4" },id: m.id, width:'700',
                                               height: '350', captions: { en: { 'English': "#{m.movie_path}.vtt" }} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
  <% end %>
</div>

<div align="center" style="padding-bottom: 30px;"><%= paginate @movies, :theme => 'twitter-bootstrap-3' %></div>

