  <div id="well" onload="true">
  <%= form_for(@user, controller: :movies, action: :manager) do  |f| %>
      <%= render 'shared/error_messages', object: @variable = @user  %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit 'Create account', class: "sign btn btn-primary" %>
  <% end %>
</div>

