<% if @variable.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@variable.errors.count, "error") || pluralize(@variable.errors.count, "error") %>.
      </div>
      <ul>
        <% @variable.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>