/* CARD */

.card {
	position: relative;
	float: left;
	width: 21%;
	height: 0;
	margin: 2%;
	padding-bottom: 36%;
}

.card__container {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
    -webkit-border-radius: 40px 40px;
     border-radius: 40px 40px;
	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__image {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.card__container--closed .card__image {
	position: relative;
	cursor: pointer;
}
/* Fix IE */

.card__container--fix-image .card__image {
	position: fixed;
    display: none;
}

.card__content {
	position: relative;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: 400px auto 60px;
	padding: 30px 40px 22px;
	background: #fff;
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 0 16px;
	pointer-events: none;
	background: transparent;
}

.card__caption {
	font-size: 2em;
	max-width: 800px;
	margin: 0 auto;
	padding: 35px 30px 0px;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);
}

.card__container--closed .card__caption {
	font-size: 1em;
	max-width: auto;
	padding: 10px 10px 25px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.text{
    padding-top: 100px;
}
.description{
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 130px;
    padding-left: 350px;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);

}

.card__title {
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #3b393d;
    padding-bottom: 10px;
}

.card__container--closed .card__title {
	color: #fff;
}

.card__subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: #777778;
    text-align: center;

}

.card__container--closed .card__subtitle {
	color: #f5f5f5;

}

.card__copy {
	font-size: 1.25em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: #3b393d;
}

.card__copy p:first-of-type {
	font-size: 1.5em;
	padding: 0 0 1em 0;
}

.card__btn-close {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 36px;
	cursor: pointer;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;
	padding: 0 0 35px 0;

	-webkit-align-items: center;
	align-items: center;
}

.meta__avatar {
    position:absolute;top:170px;left:64px;
    border-radius: 8000px;
    width:300px;
    height: 300px;
    box-shadow: 0 0 0 3px gray, 0 0 13px #333;
}


.krug {
    position:absolute;top:285px;left:186px;

    width: 65px;
    height: 65px;
    background: #ffffff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0 0 0 3px gray, 0 0 13px #333;
}
.meta__author {
	font-weight: bold;
	padding: 0 15px;
}

.meta__date {
	margin: 0 0 0 auto;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__content {
		margin-bottom: 0;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 1.25em;
		padding: 35px 0px 0px;
	}
	.meta {
		padding: 0 0 25px 0;
	}
	.card__copy {
		font-size: 90%;
		padding: 25px 0px 100px;
	}
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.genre {
    text-align: center;
    font-size: small;
    line-height: 0.5;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;

}
.runtime {
   text-align: right;
    font-size: small;
    line-height: 0.5;
}
.rating {
    text-align: left;
    font-size: small;
    line-height: 0.5;
}
.gr_img {
    height: 230px;
    width: 180px;
}

.gr_img img{

    width: 100%;
    height: 100%;
}

.well {
    display: inline-block;
}

.mouvi_title {
    text-shadow: 1px 1px 12px rgba(187, 245, 175, 0.32), 0 0 0.5em rgba(254, 255, 239, 0.85);
    font-size: 1.1em;
    line-height: 1;
    margin: 5px 0 0 0;
    color: #3b393d;
    padding-bottom: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.modal-dialog .modal-lg {
    width: 600px;
}
.knop{
    text-decoration-color: white;
    width:70px;
    height:23px;
    margin: 0px 10px 10px 0px;
    float: none;
    color: ghostwhite;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);
}
.sign{
    text-decoration-color: white;
    width:140px;
    height:23px;
    margin: 18px 10px 10px 0px;
    float: right;
    color: ghostwhite;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);
}
.add_usr{
    width:130px;
    height:33px;
    margin: 18px 10px 10px 0px;
    float: right;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.33), 0 0 0.5em rgba(254, 255, 239, 0.85);
}
.tbus {
    text-shadow: 1px 1px 12px rgba(187, 245, 175, 0.32), 0 0 0.5em rgba(254, 255, 239, 0.85);
    font-size: 1.4em;

    text-align: center; /* Выравнивание по левому краю */
}