<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "ebay-movies.club", root_path, id: "logo" %></li>
      </ul>
      <% if request.original_fullpath == '/' || request.original_fullpath.include?('search') %>
          <%= form_for root_path, method: :get, id: "movies_search" do %>
              <div class="col-md-5" style="padding-top: 8px">
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for..." %>
                  <span class="input-group-btn">
                  <%= button_tag "Search", class: "btn btn-default" %>
                </span>
                </div>
              </div>
          <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
            <% if current_user.role == 'admin' %>
                <li><%= link_to "Manager Panel", manager_panel_path %></li>
            <% end %>
            <li><%= link_to "Your Movies", movies_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


