<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= render 'layouts/shim' %>

    <body class="demo-4">
        <%= render 'layouts/header' %>
        <!--------------svg фон страниц ----------------->
        <div class="pattern pattern--hidden"></div>
        <!----------------------------------------------->
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
</head>
</body>
</html>